
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/Pages/jquery-1.11.1.min.js"></script>

    <script src="~/Content/Pages/Product.js"></script>
</head>
<body>
    
    @*<section class="gallery py-5">
            <div class="container py-xl-5 py-lg-3">
                <div class="inner-sec pt-md-4" id="tblProduct">
                    <div class="col-sm-4 section_1_gallery_grid">
                        <a href="../Content/Images/">
                            <div class="section_1_gallery_grid1">
                                <img src="../Content/Images/" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Product</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>*@
<div class="col-md-12">
         <div class="col-md-1"></div>
         <div class="col-md-10">
             <center><h1>Products</h1></center>
             <table id="tblProduct" border="1">
                    <thead>
                    <th>ID</th>
                    <th>ProdName</th>
                    <th>Price</th>
                    <th>Contact</th>
                    <th>Image</th>
                    <th>CompanyName</th>
                    </thead>
                    <tbody></tbody>
              </table>
         </div>
         <div class="col-md-1"></div>
</div>

</body>
</html>
